<% error_array=object.errors.full_messages.delete_if {|m| m=~/digest/} %>
<% if error_array.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <u>This form has <%= pluralize(error_array.count, "error") %>.</u>
      <ul>
    		<% error_array.each do |msg| %>
      		<li>*<%= msg %></li>
    		<% end %>
    	</ul>
    </div>    
  </div>
<% end %>