- error_array=object.errors.full_messages.delete_if {|m| m=~/digest/}
- if error_array.any?
  #error_explanation
    .alert.alert-error
      u
        | This form has #{pluralize(error_array.count, "error")}.
      ul
        - error_array.each do |msg|
          li
            | *#{msg}
