<%= form_for(@post) do |f| %>			
	<%= render 'shared/errors', object: f.object %>	
	<div class="field">
		<%= f.text_area :content, placeholder: post_place_holder, :rows => 11, :cols => 25 %>
	</div>				
	<div class="field">
		<%= f.submit submit_button_title,  id: "shoutup_button",
																		class: "btn btn-large btn-primary btn-long"  %>	
	</div>

																
<% end %>		