
<% if @posts.any? %>
	<table>
		<tr>	    
	    <th>Stream</th>	    
	    <th>Delivered</th>	
		</tr>

	<% @posts.each do |post| %>
		<tr>
			<td>
				<%= post.content[0..30] %>
			</td>
			<td>
				<%= time_ago_in_words(post.created_at) %> ago
			</td>
		</tr>
	<% end %>
<% else %>
	Not posts to display at this time
<% end %>

</table>