
<% if @posts.any? %>
	<table>
		<tr>
	    <th>id</th>
	    <th>Content</th>
	    <th>Time</th>
		</tr>

	<% @posts.each do |post| %>
		<tr>
			<td>
				<%= post.id %>
			</td>
			<td>
				<%= post.content[0..30] %>
			</td>
			<td>
				<%= post.created_at %>
			</td>
		</tr>
	<% end %>
<% else %>
	Not posts to display at this time
<% end %>

</table>