<% if @posts.any? %>
	
	<ol class="posts">
	<li class="feed_title"><%= feed_title %></li>	
		<%= render partial: 'stream_item', collection: @posts %>
	</ol>	
<% else %>
	no posts at this time
<% end %>