<%= render 'shared/search' %>				

<% if @posts.any? %>
	<%= will_paginate @posts, inner_window:5, outer_window:5,
	 previous_label: '-', next_label: '+' %>	
	<div class="posts">		
		<%= render partial: 'stream_item', collection: @posts %>		
	</div>	
<% else %>
	no posts at this time
<% end %>