<%= render 'shared/search' %>				

<% if @posts.any? %>

<%= render 'shared/paginate', size: size %>	
	<div class="posts">		
		<%= render partial: 'stream_item', collection: @posts %>		
	</div>	
<% else %>
	no posts at this time
<% end %>