section
	div.row
		- if @all_posts.any?
		  table
		    tr
		      td
		        = render 'shared/paginate', pad: 2, collection: @posts, id: 'search' 
		      td align="right" valign="bottom"
		        = render 'shared/search_fields'
		      td
		      	= render 'shared/paginate', pad: 2, collection: @local_posts, id: 'local'
		    tr
		      td colspan="2" id="search_stream"
						ul
						  = render partial: 'tile', collection: @posts unless @posts.nil?
		      td colspan="2" id="local_stream"
						ul
						  = render partial: 'tile', collection: @local_posts	unless @local_posts.nil?

		- else
			table
				tr
					td id="search_stream"
		  			| no posts at this time					
				tr
					td id="local_stream"
		  			| no posts at this time
	/ div.hidden#tilesize tilesize="#{params[:search].nil? ? 1 : 2}"