<div class="row">
  <aside class="span5">
  	<section>
  		<!-- <h2 class="mantra" ><%= app_mantra %></h2>  -->
			<%= render 'shared/post_fields' %>
    </section>
  </aside>
  <div class="span7">	    
      <%= render 'stream' %>      
  </div>
</div>