
<div class="row">
  <aside class="span4">
  	<section>
  		<h2 class="mantra" ><%= app_mantra %></h2> 
  	</section>
    <section>
			<%= render 'shared/post_fields' %>
    </section>
  </aside>
  <div class="span8">	    	
    <%= render 'stream' %>
  </div>
</div>  
