<div class="row">
  <aside class="span5">
  	<section>  		
			<%= render 'shared/post_fields' %>
    </section>
  </aside>
  <aside class="span7">
  	<section>	     
	   	<%= render 'stream' %>      
	  </section>
	</aside>
</div>