@import "bootstrap";
@import "variables.css.scss";
@import "mixins.css.scss";

/* universal */


html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color:$appBgd;
  background-image: url('app/assets/images/background.png');
}
section {
  overflow: auto;
  Xbackground-color:$grayLighter; 
  background-color:$appBgd; 
  padding: 10px;
  float:left;
  @include rounded-corners;  
}
container{  
  @include rounded-corners;  
}

textarea {
  resize: none;
  overflow-y: hidden;
}
#textbox{
    background-color:$white;
}
[contenteditable]{
  @include gray_box; 
  @include rounded-corners;
}
#search-form{
  padding: 0;
}
.center {  text-align: center;

}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
.navbar {
  .navbar-inner {
    background-color: #1c648f;
    background-image: url('app/assets/sky.png');
    background-position: 0 0;
    background-repeat: repeat;
    -moz-box-shadow: inset 0 26px 13px -26px #000;
    -webkit-box-shadow: inset 0 26px 13px -26px black;
    box-shadow: inset 0 26px 13px -26px black;
      a {
      color:$almostWhite;  
        &:hover {
        color:$white;
        text-decoration:none;
      }
    }
    #logo {
      float: left;
      margin-right: 10px;
      font-size: 1.7em;      
      letter-spacing: -1px;
      padding-top: 9px;  
      line-height: 1;
      font-weight:bold;
    } 
    .nav {
      a {
        color:$almostWhite;
      }
    }    
  }  
}


.pagination{
  ul{
    .active{
      a{
        color:blue;
        font-weight:bold;
      }
    }
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
}

footer a {
  color: #555;
}  

.list_separator {
  color: $grayLight; 
  padding: 5px;
}



.btn-align {
  margin-bottom: 10px;  
}

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}




/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  border-style:solid;
  border-width:5px;
}

.mantra {
  padding-top:10px;
  font-style:italic;
  color:$orange;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}


.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }  
  strong {
    display: block;
  }
}

.disabled_stats_link {
  float: left;
  padding: 0 10px;
  border-left: 1px solid $grayLighter;
  color: gray;
  &:first-child {
    padding-left: 0;
    border: 0;
  }
  strong {
    display: block;
  }
}




.form-inline {
  table td{
    padding: 15; /* 'cellpadding' equivalent */  
  }  
}


#micropost_count {
  color: $red;
  font-size: 1em;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.field{  
  padding:5px;
  textarea{
    padding:15px;
    width:700px;   
    background-color: $almostWhite;
    background-image: url('app/assets/floor.jpg');
    background-position: 5 5;
    background-repeat: repeat;
    -moz-box-shadow: inset 0px 0px 10px 3px $grayLight;
    -webkit-box-shadow: inset 0px 0px 10px 3px $grayLight;
    box-shadow: inset 0px 0px 10px 3px $grayLight;      
  }
  #new_post{
    padding-left: 305px; 
    padding-top: 35px;
  }
}
.pad-left{
  padding-left:18px;
  display:table;
}
.box-array{
  padding:5px;
}
.btn-long {
  padding-left:140px;
  padding-right:140px;  
}
.btn-pad {
  padding-left:10px;
  padding-right:10px;  
}  
.submit-pad {
  padding-left: 220px;   
}
.write-pad {
  padding-left: 115px; 
  padding-top: 35px;
}
.search-pad {
  padding-left:150px;
  padding-right:10px;  
  padding-top: 5px;
  padding-bottom:0px;
}  
.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* users index */



 /* Administrator profile */
.administrator {
  font-size: 1em;
  color: $grayLight; 
}

 /* posts */

.posts {
  list-style: none;   
  margin:none;    
  li {
    background-color:$grayLighter;
    padding: 10px;
    border-top: 2px solid $appBgd;
    @include rounded-corners;  
  }
    .feed_title {
    padding-top:10px;
    font-style:none;  
    color:$white;
    background-color:$appBgd;
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center; 
  }
}
.content {
  display: block;
  @include rounded-corners;
}
.output {
  color:$red;
}
.timestamp {
  color: $grayLight;
  float: right;
  font-size: 12px;
}
link { 
  color: $grayLight;
}
.example{
  ul{
    .active{
      a{
        background-color:$almostWhite;
        font-size:20px;
        font-weight:bold;
        color:$blue;
      }
    }      
    li{
      a{
  font-size:1em;
  line-height:1px;
  padding: 8px;         
  color:$grayLight
      }
    } 
  }
}
#counter{
  color:$white;
}
.board{  
  background-color:$red;
}
div.container {
  width:1800;
}