@import "bootstrap";
@import "variables.css.scss";
@import "mixins.css.scss";

/* universal */


html {
  overflow-y: hidden;
}

body {
  padding-top: 40px;
  padding-bottom:40px;
  background-color:$appBgd;
  /*background-image: url('background.png');*/
}
section {
  overflow: none;
  background-color:$appBgd; 
  padding: 10px;
  float:left;
  @include rounded-corners;  
}

div.container {
  width:1800;
}
link { 
  color: $grayLight;
}
textarea {
  resize: none;
  overflow-y: hidden;
}
#textbox{
  background-color:$white;
}

#search-form{
  padding: 0;
}
.center {  
  text-align: center;
}

div.center{
  margin-left:auto;
  margin-right:auto;
  width:70%;
}

div.right{
  float:right;
  width:50%;
}

.table_header{
  color:yellow;
  font-weight:none;  
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
.navbar {
  .navbar-inner {
    background-color: #1c648f;
    background-image: url('sky.png');
    background-position: 0 0;
    background-repeat: repeat;
    -moz-box-shadow: inset 0 26px 13px -26px #000;
    -webkit-box-shadow: inset 0 26px 13px -26px black;
    box-shadow: inset 0 26px 13px -26px black;
      a {
      color:$almostWhite;  
        &:hover {
        color:$white;
        text-decoration:none;
      }
    }
    #logo {
      float: left;
      margin-right: 10px;
      font-size: 1.7em;      
      letter-spacing: -1px;
      padding-top: 9px;  
      line-height: 1;
      font-weight:bold;
    } 
    #location {
      float: left;
      margin-right: 10px;
      font-size: 1em;      
      letter-spacing: -1px;
      padding-top: 1em;  
      line-height: 1;
      font-weight:normal;
    }     
    .nav {
      a {
        color:$almostWhite;
      }
    }    
  }  
}
.pagination{
  ul{
    font-size:small;
    li a {
      padding:3px 8px;
    }    
    .active{
      a{
        color:blue;
        font-weight:bold;
      }
    }
  }
}


/* footer */

footer {
  margin-top: 45px;
  // padding-top: 50px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
  position:absolute;
  bottom:0;
  width:100%;
  height:40px;   /* Height of the footer */
}

footer a {
  color: #555;
}  

.list_separator {
  color: $grayLight; 
  padding: 5px;
}



.btn-align {
  margin-bottom: 10px;  
}

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}




/* miscellaneous */

pre.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  border-style:solid;
  border-width:5px;
  color: white;
  font-size:10em;
}

.mantra {
  padding-top:10px;
  font-style:italic;
  color:$orange;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0;
  }
}

.pad-left{
  padding-left:18px;
  display:table;
}
.show{
  padding-top:50px;
  // display:table;
}

.box-array{
  padding:5px;
}
.btn-long {
  padding-left:140px;
  padding-right:140px;  
}
.btn-pad {
  padding-left:10px;
  padding-right:10px;  
}  
.submit-pad {
  padding-left: 220px;   
}
.write-pad {
  padding-left: 115px; 
  padding-top: 35px;
}
.search-pad {
  padding-left:150px;
  padding-right:10px;  
  padding-top: 5px;
  padding-bottom:0px;
}  
.field_with_errors {
  @extend .control-group;
  @extend .error;
 }


 /* posts */

.posts {
  list-style: none;   
  margin:none;    
}

/* index */

li.tile{
  background-color:#444C57;
  padding:1px;
  color:555;
  float:left;
  list-style: none;
  a {      
    &:hover {
    text-decoration:none;
  }
 }
}

textarea#inputbox{
  width:40em; 
  height:40em;
  padding:15px;
  font-size:16;
  letter-spacing:1;
  line-height:1em;    
  color:555;  
  @include box; 
}

.bigoutput{
  @include output;
  font-size:16; 
  padding:16px;
  pre{
    font-size:16;
  }  
}

.smalloutput{
  @include tile;
  padding:4px;
  font-size:8;
  pre{
    font-size:8;
  }  
}

.minioutput{
  @include tile;
  padding:2px;
  font-size:4;
  pre{
    font-size:4;
  }  
}

.superminioutput{
  @include tile;
  padding:1px;
  font-size:2;
  pre{
    font-size:2;
  }  
}

.timestamp {
  color: $grayLight;
  float: right;
  font-size: 12px;
}
#counter{
  color:$white;
}
.lower{
  padding-top:1em;
}
.mark{
  line-height:0.8em;
  display:inline;
  text-align: center;
}
.hidden {
  display: none;
}
.cheatsheet{
  background-color:$cream;
}
.span4#cheatsheet{
  padding-top:15;
  margin-left:auto;
  margin-right:auto;
}

aside.span5#sidebar{
  margin-top:3;
}

div#stream{
  margin-left:5;
}

p.stream_title{
  color:orange;
  text-align:center;
  font-size:15;
  margin-top:10;
}

th.box_title{
  color:orange;
  text-align:center;
  font-size:15;
  font-weight:normal;
  margin-top:10;
}

p.cheatsheet_title{
  color:orange;
  text-align:center;
  font-size:15;
  margin-top:350;
}

div#cheatsheet{
  
}

div.cheatsheet {
  margin-left:auto;
  margin-right:auto;
  width:75%;
  white-space: nowrap;
  @include box;
  @include rounded-corners;
  div {
    display:inline;
  }
  .mark{
    color:brown;
    font-weight:bold;
    font-size:14;
  }
  .plain{
    color:black;
  }
  .arrow{
    font-size:3em;
    color:gray;
  }  
  .smallarrow{
    font-size:2em;
    color:gray;
  }    
}
.shapes{
  list-style:none;
  float:left;
  padding:1em;
  font-size:3em;
  color:black;
}
.home{
  background: url(image_path('bulletin5.jpg')) no-repeat;
  background-size:100%;
  width:100%;
  height:100%;
  @include opacity25;  
}
p.metadata{
  color:gray;
  font-size:16px;
}
td#search_stream, td#local_stream {
  width:50%;
  vertical-align:top;
  text-align: center;
}
p#search_title, p#local_title {
  color: yellow;
}
table.full{
  width:95%;
}
td.half{
  width:50%; 
}
td.up{
  vertical-align:top;
}
div.pagination{
  margin:5 0;
}
td.right#search_panel{
  width:20%;
  float:right;
  text-align:right;
  margin-right:25px;
}
td.left#paginate{
  width:80%;
  float:left;
  text-align:left;
}