@import "bootstrap";
@import "variables.css.scss";
@import "mixins.css.scss";

/* universal */


html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color:$appBgd;
  background-image: url('app/assets/images/background.png');
}
section {
  overflow: auto;
  background-color:$grayLighter; 
  padding-left: 10px;
  padding-right: 10px;
  @include rounded-corners  
}
container{
  @include rounded-corners  
}

textarea {
  resize: none;
  overflow-y: hidden;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
.navbar {
  .navbar-inner {
    background-color: #1c648f;
    background-image: url('app/assets/sky.png');
    background-position: 0 0;
    background-repeat: repeat;
    -moz-box-shadow: inset 0 26px 13px -26px #000;
    -webkit-box-shadow: inset 0 26px 13px -26px black;
    box-shadow: inset 0 26px 13px -26px black;
      a {
      color:$almostWhite;  
        &:hover {
        color:$white;
        text-decoration:none;
      }
    }
    #logo {
      float: left;
      margin-right: 10px;
      font-size: 1.7em;      
      letter-spacing: -1px;
      padding-top: 9px;  
      line-height: 1;
    } 
    .nav {
      a {
        color:$almostWhite;
      }
    }    
  }  
}




/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
}

footer a {
  color: #555;
}  

.list_separator {
  color: $grayLight; 
  padding: 5px;
}

.forgot_password_link {  
  vertical-align: bottom;
  padding-bottom: 5px;
  padding-left: 5px;
  float: right;
  a {  
  font-size: 0.75em;
  color: $grayLight;  
  }
  a:hover{     
      color: $red;    
  }
}  

.btn-align {
  margin-bottom: 10px;  
}

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}




/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  border-style:solid;
  border-width:5px;
}

.mantra {
  padding-top:10px;
  font-style:italic;
  color:$orange;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
  textarea {    
    height: 150px;
    margin: 5px;  
  }  
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }  
  strong {
    display: block;
  }
}

.disabled_stats_link {
  float: left;
  padding: 0 10px;
  border-left: 1px solid $grayLighter;
  color: gray;
  &:first-child {
    padding-left: 0;
    border: 0;
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

#micropost_count {
  color: $red;
  font-size: 1em;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.field{  
  padding:5px;
  textarea{
    padding:5px;
    width:97%;   
  }
}
.pad-left{
  padding-left:85px;
}  
.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* users index */



 /* Administrator profile */
.administrator {
  font-size: 1em;
  color: $grayLight; 
}

 /* posts */

.posts {
  list-style: none;   
  margin:none;
  li {
    background-color:$grayLighter;
    padding: 10px;
    border-top: 2px solid $appBgd;
    @include rounded-corners  
  }
    .feed_title {
    padding-top:10px;
    font-style:none;  
    color:$white;
    background-color:$appBgd;
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center; 
  }
}
.content {
  display: block;
  @include rounded-corners
}
.timestamp {
  color: $grayLight;
  float: right;
}
link { 
  color: $grayLight;
}

