@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
@mixin rounded-corners {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

@mixin boxoutput{
  width:38em; 
  height:38em;
  letter-spacing:1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height:1em;    
  color:555;
  overflow:hidden;
}

@mixin box {
  border: 1px solid #bbb;
  background-color: $cream;
  background-image: url('background.png');
  background-position: 5 5;
  background-repeat: repeat;
  -moz-box-shadow: inset 0px 0px 10px 3px $gray;
  -webkit-box-shadow: inset 0px 0px 10px 3px $gray;
  box-shadow: inset 0px 0px 10px 3px $gray;     
  @include rounded-corners; 
}

@mixin boxhover {
  border: 1px solid #bbb;
  background-color: $cream;
  background-image: url('background.png');
  background-position: 5 5;
  background-repeat: repeat;
  -moz-box-shadow: inset 0px 0px 10px 3px $cream;
  -webkit-box-shadow: inset 0px 0px 10px 3px $cream;
  box-shadow: inset 0px 0px 10px 3px $cream;     
  @include rounded-corners; 
}

@mixin boxpre {
  padding:0;
  background-color:$cream;
  background-image: url('background.png');
  border:none;  
}

@mixin output {
  @include boxoutput;
  @include box; 
  pre {
    @include boxoutput;
    @include boxpre;
  }  
}

@mixin tile {
  @include output; 
    &:hover {
     @include boxhover;
    }   
}
@mixin opacity50{
  -khtml-opacity:.50; 
  -moz-opacity:.50; 
  -ms-filter:"alpha(opacity=50)";
  filter:alpha(opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
  opacity:.50; 
}
@mixin opacity25{
  -khtml-opacity:.25; 
  -moz-opacity:.25; 
  -ms-filter:"alpha(opacity=25)";
  filter:alpha(opacity=25);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.25);
  opacity:.25; 
}
@mixin opacity75{
  -khtml-opacity:.75; 
  -moz-opacity:.75; 
  -ms-filter:"alpha(opacity=75)";
  filter:alpha(opacity=75);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.75);
  opacity:.75; 
}