@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
@mixin rounded-corners {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
@mixin bigbox {
  padding:15px;
  width:700px;   
  background-color: $almostWhite;
  background-image: url('app/assets/floor.jpg');
  background-position: 5 5;
  background-repeat: repeat;
  -moz-box-shadow: inset 0px 0px 10px 3px $grayLight;
  -webkit-box-shadow: inset 0px 0px 10px 3px $grayLight;
  box-shadow: inset 0px 0px 10px 3px $grayLight;     
}
@mixin smallbox {
  padding:15px;
  width:330px;   
  height:280px;
  color:#444;     
  background-color: #CCC;
  background-image: url('app/assets/floor.jpg');
  background-position: 5 5;
  background-repeat: repeat;
  -moz-box-shadow: inset 0px 0px 15px 3px $gray;
  -webkit-box-shadow: inset 0px 0px 15px 3px $gray;
  box-shadow: inset 0px 0px 15px 3px $gray;   
}